{% extends 'home/base.html' %}
{% load static %}
{% load my_filter %}
{% block style_block %}
    <style>

    </style>
{% endblock %}
{% block body_block %}
    <div class="flex flex-col lg:flex-row gap-4 mt-4">
        <div class="filter-menu lg:w-1/5 border rounded-md p-6 lg:p-4 z-10 bg-white inset-0 transition-all duration-300 transform -translate-x-full lg:translate-x-0 fixed lg:static">
            <div class="sticky top-5">
                <h2 class="text-xl">Filter</h2>
                <hr class="my-2">
                <h2 class="">Sort By:</h2>
                <form action="" method="GET">
                    <select name="" id="" class="border px-2 py-1 w-full my-2">
                        <option value="1" selected>New First</option>
                        <option value="2">Old First</option>
                        <option value="3">Price Low-High</option>
                        <option value="4">Price High-Low</option>
                        <option value="5">Alphabetic A-Z</option>
                        <option value="6">Alphabetic Z-A</option>
                    </select>

                </form>

                <h2 class="">Color:</h2>
                <div class="border px-2 py-1 w-full my-2">
                    {% for color in colors %}
                        <div class="">
                            <input value="{{ color }}" type="checkbox" data-filter="color" class="checkbox" id="{{ color }}"
                                   name="{{ color }}">
                            <label for="{{ color }}" class="w-full">{{ color }}</label>
                        </div>
                    {% endfor %}
                </div>
                <h2 class="">Size:</h2>
                <div class="border px-2 py-1 w-full my-2">
                    {% for size in sizes %}
                        <div class="">
                            <input value="{{ size }}" type="checkbox" data-filter="size" class="checkbox" id="{{ size }}"
                                   name="{{ size }}">
                            <label for="{{ size }}" class="w-full">{{ size }}</label>
                        </div>
                    {% endfor %}
                </div>
                <p class="filter-close-btn lg:hidden mt-10 bg-yellow-400 hover:bg-yellow-500 focus:bg-yellow-500 focus:outline-none px-2 py-1 text-center text-white border rounded cursor-pointer">
                    Close</p>
            </div>

        </div>
        <p class="filter-btn lg:hidden bg-yellow-400 hover:bg-yellow-500 focus:bg-yellow-500 focus:outline-none px-2 py-1 text-center text-white border rounded cursor-pointer">
            Filter</p>
        <div class="w-full lg:w-4/5 border rounded-md p-0.5 lg:p-4">
            <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 lg:gap-4 mt-2 lg:mt-4 all-product">
                {% for product in products %}
                    {% if path == product.subcategory_name|lower|replacespace %}
                        <div class="rounded-lg border-2 bg-gray-100 m-2 lg:m-4 group">
                            <div class="border-b-2 text-center relative">
                                <img src="{{ product.image.url }}" alt="" class="">
                                <div class="absolute top-0 left-0 bg-yellow-500 px-5 text-white">{{ product.product_discount }}%</div>
                                <div class="absolute top-3/4 grid place-items-center grid-flow-col w-full lg:opacity-0 group-hover:opacity-100 transition-all">
                                    <a href="" data-tootik="Add to Cart"><i
                                            class="fal fa-shopping-bag text-white bg-gray-700 rounded-md p-3 hover:bg-gray-900 transition-all duration-300"></i></a>
                                    <a href="{% url "product_details_app:product" product_slug=product.product_slug %}"
                                       data-tootik="View Details"><i
                                            class="fal fa-eye text-white bg-gray-700 rounded-md p-3 hover:bg-gray-900 transition-all duration-300"></i></a>
                                    <a href="" data-tootik="Add to Wishlist"><i
                                            class="fal fa-heart text-white bg-gray-700 rounded-md p-3 hover:bg-gray-900 transition-all duration-300"></i></a>
                                </div>
                            </div>
                            <div class="bg-white text-center">
                                <div class="flex gap-2 justify-center pt-3 text-yellow-400">
                                    {% for star in product.avg_rating|times %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                    {% for star in product.avg_rating|sub %}
                                        <i class="fal fa-star"></i>
                                    {% endfor %}
                                </div>
                                <h2 class="font-light text-lg text-center py-3"><a
                                        href="{% url "product_details_app:product" product_slug=product.product_slug %}"
                                        class="transition-all hover:text-yellow-500">{{ product.product_name }}</a>
                                </h2>

                                {% if product.product_discount > 0 %}
                                    <h2 class="font-normal text-md text-center pb-3">BDT
                                        - {{ product.product_new_price }}</h2>
                                    <h2 class="font-normal text-md text-center pb-3 line-through">BDT
                                        - {{ product.product_price }}</h2>
                                {% else %}
                                    <h2 class="font-normal text-md text-center pb-3">BDT
                                        - {{ product.product_new_price }}</h2>
                                {% endif %}
                            </div>
                        </div>
                    {% elif path == product.category_name|lower|replacespace %}
                        <div class="rounded-lg border-2 bg-gray-100 m-2 lg:m-4 group">
                            <div class="border-b-2 text-center relative">
                                <img src="{{ product.image.url }}" alt="" class="">
                                <div class="absolute top-0 left-0 bg-yellow-500 px-5 text-white">{{ product.product_discount }}%</div>
                                <div class="absolute top-3/4 grid place-items-center grid-flow-col w-full lg:opacity-0 group-hover:opacity-100 transition-all">
                                    <a href="" data-tootik="Add to Cart"><i
                                            class="fal fa-shopping-bag text-white bg-gray-700 rounded-md p-3 hover:bg-gray-900 transition-all duration-300"></i></a>
                                    <a href="{% url "product_details_app:product" product_slug=product.product_slug %}"
                                       data-tootik="View Details"><i
                                            class="fal fa-eye text-white bg-gray-700 rounded-md p-3 hover:bg-gray-900 transition-all duration-300"></i></a>
                                    <a href="" data-tootik="Add to Wishlist"><i
                                            class="fal fa-heart text-white bg-gray-700 rounded-md p-3 hover:bg-gray-900 transition-all duration-300"></i></a>
                                </div>
                            </div>
                            <div class="bg-white text-center">
                                <div class="flex gap-2 justify-center pt-3 text-yellow-400">
                                    {% for star in product.avg_rating|times %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                    {% for star in product.avg_rating|sub %}
                                        <i class="fal fa-star"></i>
                                    {% endfor %}
                                </div>
                                <h2 class="font-light text-lg text-center py-3"><a
                                        href="{% url "product_details_app:product" product_slug=product.product_slug %}"
                                        class="transition-all hover:text-yellow-500">{{ product.product_name }}</a>
                                </h2>

                                {% if product.product_discount > 0 %}
                                    <h2 class="font-normal text-md text-center pb-3">BDT
                                        - {{ product.product_new_price }}</h2>
                                    <h2 class="font-normal text-md text-center pb-3 line-through">BDT
                                        - {{ product.product_price }}</h2>
                                {% else %}
                                    <h2 class="font-normal text-md text-center pb-3">BDT
                                        - {{ product.product_new_price }}</h2>
                                {% endif %}
                            </div>
                        </div>
                    {% elif path == product.company_name|lower|replacespace %}
                        <div class="rounded-lg border-2 bg-gray-100 m-2 lg:m-4 group">
                            <div class="border-b-2 text-center relative">
                                <img src="{{ product.image.url }}" alt="" class="">
                                <div class="absolute top-0 left-0 bg-yellow-500 px-5 text-white">{{ product.product_discount }}%</div>
                                <div class="absolute top-3/4 grid place-items-center grid-flow-col w-full lg:opacity-0 group-hover:opacity-100 transition-all">
                                    <a href="" data-tootik="Add to Cart"><i
                                            class="fal fa-shopping-bag text-white bg-gray-700 rounded-md p-3 hover:bg-gray-900 transition-all duration-300"></i></a>
                                    <a href="{% url "product_details_app:product" product_slug=product.product_slug %}"
                                       data-tootik="View Details"><i
                                            class="fal fa-eye text-white bg-gray-700 rounded-md p-3 hover:bg-gray-900 transition-all duration-300"></i></a>
                                    <a href="" data-tootik="Add to Wishlist"><i
                                            class="fal fa-heart text-white bg-gray-700 rounded-md p-3 hover:bg-gray-900 transition-all duration-300"></i></a>
                                </div>
                            </div>
                            <div class="bg-white text-center">
                                <div class="flex gap-2 justify-center pt-3 text-yellow-400">
                                    {% for star in product.avg_rating|times %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                    {% for star in product.avg_rating|sub %}
                                        <i class="fal fa-star"></i>
                                    {% endfor %}
                                </div>
                                <h2 class="font-light text-lg text-center py-3"><a
                                        href="{% url "product_details_app:product" product_slug=product.product_slug %}"
                                        class="transition-all hover:text-yellow-500">{{ product.product_name }}</a>
                                </h2>

                                {% if product.product_discount > 0 %}
                                    <h2 class="font-normal text-md text-center pb-3">BDT
                                        - {{ product.product_new_price }}</h2>
                                    <h2 class="font-normal text-md text-center pb-3 line-through">BDT
                                        - {{ product.product_price }}</h2>
                                {% else %}
                                    <h2 class="font-normal text-md text-center pb-3">BDT
                                        - {{ product.product_new_price }}</h2>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script>
        let filterBtn = document.querySelector('.filter-btn');
        let filterMenu = document.querySelector('.filter-menu');
        let filterClose = document.querySelector('.filter-close-btn');
        filterBtn.addEventListener('click', (e) => {
            filterMenu.classList.remove('-translate-x-full')
        })

        filterClose.addEventListener('click', (e) => {
            filterMenu.classList.add('-translate-x-full')

        })

    </script>
    <script>
        $('select').change(function (e) {
            e.preventDefault();
            let check = document.querySelectorAll('.checkbox');
                    for(let k=0; k<check.length;k++){
                        check[k].checked = false;
                    }
            let selected = $(this).val();
            let serializeData = $(this).serialize();
            console.log(selected)
            $.ajax({
                url: "{% url 'ecom_app:filter' %}",
                data: {
                    'sort': selected,
                    'path': '{{ path }}',
                },
                beforeSend: function (){
                    $('.all-product').html(`<div class='grid place-items-center'>Loading.....</div>`)
                },
                success: function (data) {
                    $('.all-product').html(data)
                    {#console.log('{{ path }}')#}
                }

            })
        })
    </script>
    <script>
        let filterObj = {}

        $('.checkbox').click(function (e) {
            $('.checkbox').each(function (index, element) {
                let key = $(this).attr('data-filter');
                filterObj[key] = Array.from(document.querySelectorAll('input[data-filter=' + key + ']:checked')).map(function (el) {
                    return el.value;
                });
            })
            let selected = $('select').find(":selected").val()
            console.log(selected)
            // Ajax
            $.ajax({
                url: "{% url 'ecom_app:filter' %}",
                data: {
                    'sort': selected,
                    'filter': filterObj,
                    'path': '{{ path }}',
                },
                beforeSend: function (){
                    $('.all-product').html(`<div class='grid place-items-center'>Loading.....</div>`)
                },
                success: function (data) {
                    $('.all-product').html(data)
                    {#console.log('{{ path }}')#}
                }

            })

        })
    </script>
{% endblock %}