{% extends 'home/base.html' %}
{% load static %}
{% block style_block %}

{% endblock %}
{% block body_block %}
    <div class="flex flex-col lg:flex-row gap-4">
        <div class="w-full lg:w-1/5">
            {% include 'home/profile-left-menu.html' %}
        </div>
        <div class="flex flex-col lg:flex-row gap-4 lg:w-4/5 w-full">
            <div class="flex gap-2 flex-col p-4 border rounded w-full lg:w-1/3" style="height: max-content">
                <div class="flex gap-6 justify-between">
                    <h2 class="font-bold">Personal Profile</h2>
                    <a href="{% url 'profile_app:edit-profile' %}" class="text-yellow-600">Edit</a>
                </div>
                <div class="">
                    <p class="font-bold">{{ user.user_profile.full_name }}</p>
                    <p>{{ user.user_profile.phone_one }}</p>
                    <p>{{ user.user_profile.phone_two }}</p>
                    <p>{{ user.email }}</p>
                </div>
            </div>
            <div class="flex gap-2 flex-col p-4 border rounded w-full lg:w-1/3" style="height: max-content">
                <div class="flex gap-6 justify-between">
                    <h2 class="font-bold">Billing Address</h2>
                    <a href="{% url 'profile_app:edit-billing-address' %}" class="text-yellow-600">Edit</a>
                </div>
                <div class="">
                    <p class="font-bold">{{ user.user_billing_address.name }}</p>
                    <p>{{ user.user_billing_address.get_full_address }}</p>
                    <p>{{ user.user_billing_address.phone }}</p>
                </div>
            </div>
            <div class="flex gap-2 flex-col p-4 border rounded w-full lg:w-1/3" style="height: max-content">
                <div class="flex gap-6 justify-between">
                    <h2 class="font-bold">Shipping Address</h2>
                    <a href="{% url 'profile_app:edit-shipping-address' %}" class="text-yellow-600">Edit</a>
                </div>
                <div class="">
                    <p class="font-bold">{{ user.user_shipping_address.name }}</p>
                    <p>{{ user.user_shipping_address.get_full_address }}</p>
                    <p>{{ user.user_shipping_address.phone }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script_block %}

{% endblock %}