{% extends 'home/base.html' %}
{% load static %}
{% block style_block %}

{% endblock %}
{% block body_block %}
    <div class="flex gap-4">
        <div class="w-1/5 hidden lg:block">
            {% include 'home/profile-left-menu.html' %}

        </div>
        <div class="text-center lg:w-4/5 w-full">
            <div class="wishlist-head flex font-semibold text-md md:text-lg justify-between items-center">
                <div class="w-1/5 border">Image</div>
                <div class="w-1/5 border">Item</div>
                <div class="w-1/5 border">Price</div>
                <div class="w-1/5 border">Add to Cart</div>
                <div class="w-1/5 border">Remove</div>
            </div>
            {% for wishlist in wishlists %}
                {% if wishlist.product.product_quantity > 0 %}
                    <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{{ wishlist.product.image.url }}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <a href="{% url 'product_details_app:product' product_slug=wishlist.product.product_slug %}"><h2 class="font-semibold">{{ wishlist.product.product_name }}</h2></a>
                        <p class="text-green-500">In Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">{{ wishlist.product.product_new_price }}</div>
                <div class="w-1/5 p-4"><a href=""
                                          class=""><span class="bg-yellow-400 hover:bg-yellow-500 focus:bg-yellow-500 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag bg-yellow-400 focus:bg-yellow-500 hover:bg-yellow-500 focus:outline-none rounded p-2"></i></span></a></div>
                <div class="w-1/5 p-4"><a href="{% url 'product_details_app:remove_from_wishlist' id=wishlist.id %}" class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded" data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
                    {% else %}
                    <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{{ wishlist.product.image.url }}" alt="" class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">{{ wishlist.product.product_name }}</h2>
                        <p class="text-red-500">Out of Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">{{ wishlist.product.product_new_price }}</div>
                <div class="w-1/5 p-4"><span class="cursor-not-allowed bg-yellow-200 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag cursor-not-allowed bg-yellow-200 focus:outline-none rounded p-2"></i></span></div>
                <div class="w-1/5 p-4"><a href="{% url 'product_details_app:remove_from_wishlist' id=wishlist.id %}" class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded" data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
                {% endif %}
            {% endfor %}






        </div>
    </div>

{% endblock %}
{% block script_block %}

{% endblock %}