{% extends 'home/base.html' %}
{% load static %}
{% block style_block %}

{% endblock %}
{% block body_block %}
    <div class="flex gap-4">
        <div class="w-1/5 hidden lg:block">
            <div class="flex flex-col gap-2 sticky top-20">
                <div class="border p-3 flex items-center">
                <div class="w-2/5"><img src="{% static 'home/images/22.jpg' %}" alt=""
                                        class="w-10 h-10 object-cover rounded-full"></div>
                <div class="w-4/5 flex flex-col">
                    <h2 class="font-semibold">Full Name</h2>
                    <p class="bg-green-400 px-2 py-1 rounded-full text-white w-max">Verified</p>
                </div>
            </div>
            <div class="border p-3 flex gap-2 items-baseline">
                <i class="fal fa-address-card"></i>
                <div class="flex flex-col gap-1">
                    <h2 class="font-semibold">Manage Account</h2>
                    <a href="" class="hover:text-yellow-500 transition duration-200">Profile Information</a>
                    <a href="" class="hover:text-yellow-500 transition duration-200">Manage Address</a>
                    <a href="" class="hover:text-yellow-500 transition duration-200">Change Password</a>
                </div>

            </div>
            <div class="border p-3 flex gap-2 items-baseline">
                <i class="fal fa-shopping-bag"></i>
                <div class="flex flex-col gap-1">
                    <h2 class="font-semibold">Manage Orders</h2>
                    <a href="" class="hover:text-yellow-500 transition duration-200">Order History</a>
                    <a href="" class="hover:text-yellow-500 transition duration-200">Wishlist</a>
                    <a href="" class="hover:text-yellow-500 transition duration-200">Cart</a>
                </div>

            </div>
            <div class="border p-3 flex gap-2 items-baseline">
                <i class="fal fa-money-bill"></i>
                <div class="flex flex-col gap-1">
                    <h2 class="font-semibold">Manage Account</h2>
                    <a href="" class="hover:text-yellow-500 transition duration-200">Payment Information</a>
                </div>

            </div>
            </div>

        </div>
        <div class="text-center lg:w-4/5 w-full">
            <div class="wishlist-head flex font-semibold text-md md:text-lg justify-between items-center">
                <div class="w-1/5 border">Image</div>
                <div class="w-1/5 border">Item</div>
                <div class="w-1/5 border">Price</div>
                <div class="w-1/5 border">Add to Cart</div>
                <div class="w-1/5 border">Remove</div>
            </div>
            <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{% static 'home/images/product 1.jpg' %}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">Arm Chair</h2>
                        <p class="text-red-500">Out of Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">6000</div>
                <div class="w-1/5 p-4"><span class="cursor-not-allowed bg-yellow-200 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag cursor-not-allowed bg-yellow-200 focus:outline-none rounded p-2"></i></span></div>
                <div class="w-1/5 p-4"><a href=""
                                          class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded"
                                          data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
            <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{% static 'home/images/product 1.jpg' %}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">Arm Chair</h2>
                        <p class="text-green-500">In Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">6000</div>
                <div class="w-1/5 p-4"><a href=""
                                          class=""><span class="bg-yellow-400 hover:bg-yellow-500 focus:bg-yellow-500 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag bg-yellow-400 focus:bg-yellow-500 hover:bg-yellow-500 focus:outline-none rounded p-2"></i></span></a></div>
                <div class="w-1/5 p-4"><a href=""
                                          class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded"
                                          data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
            <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{% static 'home/images/product 1.jpg' %}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">Arm Chair</h2>
                        <p class="text-red-500">Out of Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">6000</div>
                <div class="w-1/5 p-4"><span class="cursor-not-allowed bg-yellow-200 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag cursor-not-allowed bg-yellow-200 focus:outline-none rounded p-2"></i></span></div>
                <div class="w-1/5 p-4"><a href=""
                                          class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded"
                                          data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
            <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{% static 'home/images/product 1.jpg' %}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">Arm Chair</h2>
                        <p class="text-green-500">In Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">6000</div>
                <div class="w-1/5 p-4"><a href=""
                                          class=""><span class="bg-yellow-400 hover:bg-yellow-500 focus:bg-yellow-500 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag bg-yellow-400 focus:bg-yellow-500 hover:bg-yellow-500 focus:outline-none rounded p-2"></i></span></a></div>
                <div class="w-1/5 p-4"><a href=""
                                          class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded"
                                          data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
            <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{% static 'home/images/product 1.jpg' %}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">Arm Chair</h2>
                        <p class="text-red-500">Out of Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">6000</div>
                <div class="w-1/5 p-4"><span class="cursor-not-allowed bg-yellow-200 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag cursor-not-allowed bg-yellow-200 focus:outline-none rounded p-2"></i></span></div>
                <div class="w-1/5 p-4"><a href=""
                                          class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded"
                                          data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
            <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{% static 'home/images/product 1.jpg' %}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">Arm Chair</h2>
                        <p class="text-green-500">In Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">6000</div>
                <div class="w-1/5 p-4"><a href=""
                                          class=""><span class="bg-yellow-400 hover:bg-yellow-500 focus:bg-yellow-500 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag bg-yellow-400 focus:bg-yellow-500 hover:bg-yellow-500 focus:outline-none rounded p-2"></i></span></a></div>
                <div class="w-1/5 p-4"><a href=""
                                          class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded"
                                          data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
            <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{% static 'home/images/product 1.jpg' %}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">Arm Chair</h2>
                        <p class="text-red-500">Out of Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">6000</div>
                <div class="w-1/5 p-4"><span class="cursor-not-allowed bg-yellow-200 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag cursor-not-allowed bg-yellow-200 focus:outline-none rounded p-2"></i></span></div>
                <div class="w-1/5 p-4"><a href=""
                                          class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded"
                                          data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
            <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{% static 'home/images/product 1.jpg' %}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">Arm Chair</h2>
                        <p class="text-green-500">In Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">6000</div>
                <div class="w-1/5 p-4"><a href=""
                                          class=""><span class="bg-yellow-400 hover:bg-yellow-500 focus:bg-yellow-500 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag bg-yellow-400 focus:bg-yellow-500 hover:bg-yellow-500 focus:outline-none rounded p-2"></i></span></a></div>
                <div class="w-1/5 p-4"><a href=""
                                          class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded"
                                          data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
            <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{% static 'home/images/product 1.jpg' %}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">Arm Chair</h2>
                        <p class="text-red-500">Out of Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">6000</div>
                <div class="w-1/5 p-4"><span class="cursor-not-allowed bg-yellow-200 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag cursor-not-allowed bg-yellow-200 focus:outline-none rounded p-2"></i></span></div>
                <div class="w-1/5 p-4"><a href=""
                                          class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded"
                                          data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>
            <div class="wishlist-head flex justify-between items-center border">
                <div class="w-1/5 p-4 flex justify-center"><img src="{% static 'home/images/product 1.jpg' %}" alt=""
                                                                class="w-1/2"></div>
                <div class="w-1/5 p-4 ">
                    <div class="">
                        <h2 class="font-semibold">Arm Chair</h2>
                        <p class="text-green-500">In Stock</p>
                    </div>
                </div>
                <div class="w-1/5 p-4 text-yellow-500 font-semibold">6000</div>
                <div class="w-1/5 p-4"><a href=""
                                          class=""><span class="bg-yellow-400 hover:bg-yellow-500 focus:bg-yellow-500 focus:outline-none px-2 py-1 rounded hidden md:block">Add to Cart</span><span class="block md:hidden"><i class="fal fa-shopping-bag bg-yellow-400 focus:bg-yellow-500 hover:bg-yellow-500 focus:outline-none rounded p-2"></i></span></a></div>
                <div class="w-1/5 p-4"><a href=""
                                          class="bg-red-400 hover:bg-red-500 focus:bg-red-500 focus:outline-none text-white px-2 py-1 rounded"
                                          data-tootik="Remove From Cart"><i class="fal fa-trash"></i></a></div>
            </div>


        </div>
    </div>

{% endblock %}
{% block script_block %}

{% endblock %}